{% block karser_recaptcha3_widget %}
    {% apply spaceless %}
        {%- set type = type|default('hidden') -%}
        {{ block('form_widget_simple') }}

        {% if form.vars.enabled -%}
            {% set validJsId = id | replace({'-':'_'})  %}
            <script type="text/javascript" {% if form.vars.script_nonce_csp is defined %}nonce="{{ form.vars.script_nonce_csp }}"{% endif %}>
                var recaptchaCallback_{{ validJsId }} = function() {
                    grecaptcha.execute('{{ form.vars.site_key }}', {action: '{{ form.vars.action_name }}'}).then(function(token) {
                        document.getElementById('{{ id }}').value = token;
                    });
                    setTimeout(recaptchaCallback_{{ validJsId }}, 100000);
                };
            </script>
            <!-- ReCAPTCHA Placeholder -->
            <div id="recaptcha-placeholder" class="g-recaptcha"
                 data-sitekey="{{ form.vars.site_key }}"
                 data-callback="recaptchaCallback_{{ validJsId }}"
                 data-size="invisible"
                 data-badge="bottomleft"></div>

            <!-- ReCAPTCHA Script Loader -->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var recaptchaLoaded = false;

                    function loadRecaptcha() {
                        if (!recaptchaLoaded) {
                            var script = document.createElement('script');
                            script.src = 'https://www.recaptcha.net/recaptcha/api.js?onload=onloadCallback&render=explicit&hl={{ form.vars.locale }}';
                            script.async = true;
                            script.defer = true;
                            document.body.appendChild(script);
                            recaptchaLoaded = true;
                            console.log('ReCAPTCHA script loaded');
                        }
                    }

                    function onloadCallback() {
                        grecaptcha.render('recaptcha-placeholder', {
                            'sitekey': '{{ form.vars.site_key }}',
                            'callback': recaptchaCallback_{{ validJsId }},
                            'size': 'invisible',
                            'badge': 'bottomleft'
                        });
                    }

                    function handleScrollOrTouch() {
                        if (!recaptchaLoaded) {
                            loadRecaptcha();
                        }
                    }

                    window.addEventListener('scroll', handleScrollOrTouch, { once: true });
                    window.addEventListener('touchstart', handleScrollOrTouch, { once: true });
                });
            </script>

        {%- endif %}
    {% endapply %}
{% endblock %}
